@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


:root {
    --primary-text-color: #ffffff;
    --primary-color-100: #0F0C29;
    --primary-color-200: #181438;
    --primary-color-300: #201C46;
    --primary-color-400: #302B63;
    --primary-color-accent: #fd4d4d;
}

body {
    /*background: linear-gradient(-45deg, var(--primary-color-100), var(--primary-color-200), var(--primary-color-300), var(--primary-color-400));*/
    /*background-size: 400% 400%;*/
    /*animation: gradient 12s ease infinite;*/
    background-image: url(../img/Moon.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.header {
    height: 10vh;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.header > img {
    width: 100px;
    height: 75px;
    padding: 1em 0 0 2em;
}

.navbar-infos {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: auto;
    padding-right: 3em;
    gap: 4em;

    font-family: Poppins, sans-serif;

}

.navbar-infos > a {
    text-decoration: none;
    color: white;
}

.navbar-infos-items:hover {
    cursor: pointer;
    color: gold;
    transition: color 275ms ease;
}

.signup {
    display: flex;
    flex-direction: column;
    align-items: center;

    white-space: nowrap;
    max-width: max-content;
    margin: auto;
    padding-top: 25vh;
    color: var(--primary-text-color);

    transform: scale(1.1);
}

.signup-title {
    font-family: Poppins;
    font-weight: bold;
    font-size: 2rem;

}

p {
    margin: 0 0 5em 0;
}

.form-group > label {
    font-family: Poppins;
    font-weight: bold;
}

.form-control {
    border: none;
    display: block;

    font-family: Poppins, sans-serif;
    color: var(--primary-text-color);
    background: transparent;
    width: 25em;
    height: 3em;
    margin-bottom: 2em;

    border-bottom: 2px solid #dbdbdb;
}

.form-control::placeholder {
    color: lightgrey;
    font-family: Poppins, sans-serif;
}

.form-button {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 0 0 1em 0;
    gap: 1em;

    height: 13vh;
    cursor: pointer;
    border: 0;

}

.form-button > button:first-child {
    cursor: pointer;

    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: large;
    text-align: center;
    color: var(--primary-text-color);
    background-color: var(--primary-color-accent);

    border: none;
    border-radius: 0.25rem;

    transition: transform .2s;
}

.form-button > button:hover {
    transform: scale(1.1);
}


.newProj {
    display: flex;
    flex-direction: column;
    align-items: center;

    white-space: nowrap;
    max-width: 80%;
    margin: auto;
    margin-top: 8vh;
    width: 60%;
    padding-top: 10vh;
    border-radius: 3em;

    color: var(--primary-text-color);
    backdrop-filter: blur(5px) drop-shadow(4px 4px 10px black) brightness(85%);;


    transform: scale(1.1);
}

.proj-title {
    font-family: Poppins;
    font-weight: bold;
    font-size: 2rem;
    margin: 0 0 2em 0;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-group > textarea{
    resize: none;
    width: 31em;
    height: 16em;
}

.container-child-1 {
    padding-right: 15em;
}
