@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


:root {
    --primary-text-color: #ffffff;
    --primary-color-100: #0F0C29;
    --primary-color-200: #181438;
    --primary-color-300: #201C46;
    --primary-color-400: #302B63;
    --primary-color-accent: #fd4d4d;
}

body {
    background-image: url(../img/Moon.svg);
    background-size: cover;
}

.header {
    height: 10vh;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.header > img {
    width: 100px;
    height: 75px;
    padding: 1em 0 0 2em;
}

.navbar-infos {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: auto;
    padding-right: 3em;
    gap: 4em;

    font-family: Poppins, sans-serif;

}

.navbar-infos > a {
    text-decoration: none;
    color: white;
}

.navbar-infos-items:hover {
    cursor: pointer;
    color: gold;
    transition: color 275ms ease;
}

.deroulant {
    text-decoration: none;
    color: white;
    list-style-type: none;
}

.deroulant:hover {
    padding-top: 6vh;
 }

.deroulant-title {
    position: sticky;
}

.sous {
    display: none;
    background-color: transparent;

    text-align: center;
}

.sous > li {
    display: flex;
    position: relative;
}

.sous > li > a {
    text-decoration: none;
    color: white;
    align-items: center;

    transition: 0.5s;
}

.sous > li > a:hover {
    color: gold;
}

li:hover .sous{
    display: inline;
}


/********************
Partie gauche Accueil
 ********************/


.container {
    margin: 28vh 15em 0 2em;
    display: grid;
    flex-direction: column;
}

.container > img {
    width: 650px;
    height: 150px;
}



.form-button {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 8.5em;
    gap: 2em;

    height: 13vh;
    cursor: pointer;
    border: 0;

}

.form-button > a {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    text-align: center;
    color: var(--primary-text-color);
    background-color: var(--primary-color-accent);

    border: none;
    border-radius: 0.25rem;
    text-decoration: none;

    padding: 0.5em 1.275em 0.5em 1.275em;

    transition: transform .2s;
}

.form-button > a:first-child {
    font-size: inherit;
    color: black;
    background-color: var(--primary-text-color);
}


.form-button > a:hover {
    cursor: pointer;
    transform: scale(1.2);
}


/****
Accueil
 ****/

.bigContainer {
    display: flex;
    flex-direction: row;
}

.event-board {
    justify-content: flex-end;
}

.adm-title {
    display: table;
    font-weight: bold;
    margin-top: 10vh;
    color: var(--primary-text-color);

    font-family: Poppins, sans-serif;
    font-size: x-large;
}


.tableau {
    background-color: #6c7ae0;
    color: var(--primary-text-color);
    overflow: hidden;
    border-radius: 20px 20px 10px 10px;

    width: 100%;
    height: 50vh;
    margin: auto;
    margin-top: 2vh;

    font-weight: bold;
}


.tableau2{
    background-color: white;
    color: #BCBCBC;
    overflow: hidden scroll;
    border-radius: 0 0 10px 10px;

    display: grid;

    width: 100%;
    height: 46vh;
    margin: auto;

    font-weight: bold;
}

.tableau3{
    background-color: white;
    color: #BCBCBC;
    overflow: hidden scroll;
    border-radius: 0 0 10px 10px;

    width: 100%;
    height: 46vh;
    margin: auto;

    font-weight: bold;
}


td {
    border: 5px solid transparent;
    width: 25%;
    line-height: 3;
    text-align: center;

    color: black;
}

th {
    padding-right: 4em;
    padding-left: 4em;
    width: 5%;
    height: 5vh;
    text-align: center;
}

td:nth-last-child(2) {
    font-size: 0.9rem;
}

personne {
    padding-right: 4em;
    padding-left: 4em;
    width: 5%;
    height: 25%;
    text-align: center;

    background-color: white;
    color: black;
}