@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


:root {
    --primary-text-color: #ffffff;
    --primary-color-100: #0F0C29;
    --primary-color-200: #181438;
    --primary-color-300: #201C46;
    --primary-color-400: #302B63;
    --primary-color-accent: #fd4d4d;
}

body {
    background-image: url(../img/Moon.svg);
    background-size: cover;
    font-family: Poppins, sans-serif;
}

.header {
    height: 10vh;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.header > img {
    width: 100px;
    height: 75px;
    padding: 1em 0 0 2em;
}

.navbar-infos {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: auto;
    padding-right: 3em;
    gap: 4em;

    font-family: Poppins, sans-serif;

}

.navbar-infos > a {
    text-decoration: none;
    color: white;
}

.navbar-infos-items:hover {
    cursor: pointer;
    color: gold;
    transition: color 275ms ease;
}

.adm-title {
    display: table;
    font-weight: bold;
    font-size: 2rem;
    margin: auto;
    margin-top: 7vh;
    color: var(--primary-text-color);
}


.tableau {
    background-color: #6c7ae0;
    color: var(--primary-text-color);
    overflow: hidden;
    border-radius: 20px 20px 10px 10px;

    width: 65%;
    height: 50vh;
    margin: auto;
    margin-top: 5vh;

    font-weight: bold;
}


.tableau2{
    background-color: white;
    color: #BCBCBC;
    overflow: hidden scroll;
    border-radius: 0 0 10px 10px;

    display: grid;

    width: 100%;
    height: 46vh;
    margin: auto;

    font-weight: bold;
}

.tableau3{
    background-color: white;
    color: #BCBCBC;
    overflow: hidden scroll;
    border-radius: 0 0 10px 10px;

    width: 100%;
    height: 46vh;
    margin: auto;

    font-weight: bold;
}


td {
    border: 5px solid transparent;
    width: 25%;
    line-height: 3;
    text-align: center;

    color: black;
}

th {
    padding-right: 4em;
    padding-left: 4em;
    width: 5%;
    height: 5vh;
    text-align: center;
}

td:nth-last-child(2) {
    font-size: 0.9rem;
}

personne {
    padding-right: 4em;
    padding-left: 4em;
    width: 5%;
    height: 25%;
    text-align: center;

    background-color: white;
    color: black;
}